.container {
    display: flex;
    flex-flow: wrap column;
}
.stories {
    margin-top: 33px;
    margin-bottom: 33px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-flow: wrap row;
    background-color: #FAFAFA;
    padding: 0px;
    gap: 31px;
}
